<nav>
    <div class="nav-wrapper">
        <!-- Logo -->
        <!-- <a href="#" class="brand-logo right">Logo</a> -->



        <!--OPENS THE SIDE BAR ON CLICK -->
        <a id="sidenav-trigger" href="#" data-target="mobile-navbar" class="show-on-large">
            <!-- class: sidenav-trigger  -->
            <i class="material-icons">menu</i>
        </a>
        <div class="controls">
            <a class="install-button" href="#"><i class="material-icons">add</i></a>
            <a id="btn-settings" href="#">
                <i class="spin fas fa-cog"></i>
            </a>
        </div>
    </div>
</nav>