<div class="settings-overlay">
    <div id="site-settings" class="transformSettingsHidden">
        <div class="header">
            <div> SETTINGS PANEL</div>
            <div>
                <i id="btnClose" class="material-icons">close</i>
            </div>
        </div>
        <div class="settings-body">
            <div class="title">Layout settings</div>
            <div class="item">
                <span class="title">
                    Fixed Header
                </span>
                <span class="cb">
                    <label>
                        <input id="fixedHeader" type="checkbox" />
                        <span></span>
                    </label>
            </div>
            <div class="item">
                <span class="title">
                    Fixed Navigation
                </span>
                <span class="cb">
                    <label>
                        <input id="fixedNav" type="checkbox" />
                        <span></span>
                    </label>
                </span>
            </div>
            <div class="item">
                <span class="title">
                    Minified Navigation
                </span>
                <span class="cb">
                    <label>
                        <input id="minifiedNav" type="checkbox" />
                        <span></span>
                    </label>
                </span>
            </div>
            <div class="item">
                <span class="title">
                    Mobile Navigation
                </span>
                <span class="cb">
                    <label>
                        <input id="mobileNav" type="checkbox" />
                        <span></span>
                    </label>
                </span>
            </div>
            <div class="item fullscreen">
                <span class="title">
                    Toggle Fullscreen
                </span>
                <span class="cb">
                    <label>
                        <input id="toggleFullScreen" type="checkbox" />
                        <span></span>
                    </label>
                </span>
            </div>
            <div class="item"></div>
            <!-- <div class="divider"></div> -->
        </div>
    </div>
</div>
<!-- <button id="btn-settings" class="btn-settings btn-floating circle right btn-large waves-effect waves-light">
    <i class="fa-cog-rotate fas fa-cog"></i></button> -->
